{% extends "template.html" %}

{% set page ='portfolio' %}

{% block meta %}
  <title>Project Details - PetsApp</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
{% endblock %}

{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
    
        <div class="d-flex justify-content-between align-items-center">
          <h2>Project Details</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>PetsApp</li>
          </ol>
        </div>
        
      </div>
    </section><!-- End Breadcrumbs -->
  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">

    <div class="container">

      <div class="portfolio-details-container">

        <div class="owl-carousel portfolio-details-carousel">
          <img src="assets/img/portfolio/pets_app/petsapp_big.png" class="img-fluid" alt="">
        </div>

        <div class="portfolio-info">
          <h3>Project information</h3>
          <ul>
            <li><strong>Name</strong>: PetsApp</li>
            <li><strong>Category</strong>: Full-Stack Engineering | UX / UI | Mobile Development </li>
            <li><strong>Tech</strong>: JAVA | SQL | GitHub </li>
          </ul>
        </div>

      </div>

      <div class="portfolio-description">
        <h2>A mobile app for pet owners that stores pet information.</h2>

        <ul>
          <li>Created a mobile application using Android Studio and written in <b>Java</b> which aids pet owners by storing pet
            information such as birthday, age, notes and photos of vet records in a <b>SQLite</b> database for quick easy access.</li>
          <p></p>
          <li>Wrote <b>SQL</b> join queries to implement one to many relationships between each pet and their multiple vet records making the information organized and easily accessible, optimizing application performance.</li>
          <p></p>
          <li>Designed the pet object model in <b>Java</b> and implemented getters and setters to pass the pet object around the app and access the data within it efficiently while ensuring the data stays secure.</li>
          <p></p>
          <li>Wrote the code in <b>Java</b>, a machine independent language, giving the codebase incredible flexibility in a variety of situations.</li>
          <p></p>
        </ul>     

      </div>

        <div id = 'questions'>
          <h2 class = "click-tech">Why did I choose this technology?  </h2>
          <p class = "dropdown-tech hide">*coming soon* Visit <a href ="https://github.com/KISMET-INC/PetsApp/blob/link-pet-notepad/README.md" target="_blank">PetsApp on Github</a>  for more details about this project. </p>
          <h2  class = "click-challenge">What challenges did I face?</h2> 
          <p class = "dropdown-challenge hide">*coming soon* Visit <a href ="https://github.com/KISMET-INC/PetsApp/blob/link-pet-notepad/README.md" target="_blank"  >PetsApp on Github</a>  for more details  about this project. </p>
          <h2 class = "click-different">What would I have done differently?</h2> 
          <p class = "dropdown-different hide">*coming soon* Visit <a href ="https://github.com/KISMET-INC/PetsApp/blob/link-pet-notepad/README.md" target="_blank" >PetsApp on Github</a>  for more details  about this project. </p> 
          <h2 class = "click-learn">What did I learn?</h2> 
          <p class = "dropdown-learn hide">*coming soon* Visit <a href ="https://github.com/KISMET-INC/PetsApp/blob/link-pet-notepad/README.md" target="_blank" >PetsApp on Github</a>  for more details  about this project. </p>
          <h2 class = "click-plans">Plans for the future of this project?</h2> 
          <p class = "dropdown-plans hide">*coming soon* Visit <a href ="https://github.com/KISMET-INC/PetsApp/blob/link-pet-notepad/README.md" target="_blank" >PetsApp on Github</a>  for more details  about this project. </p>
      </div>

    </div>

  </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->

{% endblock %}
