{% extends "template.html" %}

{% set page ='portfolio' %}

{% block meta %}
  <title>Project Details - Garage Sally</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
{% endblock %}

{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
    
        <div class="d-flex justify-content-between align-items-center">
          <h2>Project Details</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Lethal Combat</li>
          </ol>
        </div>
        
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">
        <h2 class ="primary" >Play Lethal Combat</h2>
        <h3>Choose me!</h3>
        <div class="portfolio-details-container">
  
            <iframe src="https://i.simmer.io/@kmoreland909/lethal-combat-v2"  style="-webkit-transform:scale(0.2) -moz-transform-scale(0.2)" width= '640px' height ='360px'></iframe>


          <div class="game-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Project Name [ </strong> Lethal Combat <b>]</b></li>
              <li><strong>My Role [ </strong> Project Manager <b>|</b> Lead Developer  <b>]</b></li>
              <li><strong>Category [</strong> Game Development <b>|</b> Collaborative  <b>]</b></li>
              <li><strong>Team [ </strong>Kristen San Martin, Kim Greenbush <b>]</b></li>
              <li><strong>Tech [ </strong>C# <b>|</b> Unity <b>|</b> GitHub <b>]</b> </li>
              <li><strong>Completion Time [ </strong> 5 days <b>]</b> </li>
            </ul>
          </div>

        </div>

        <div class="portfolio-description">
          <h2>Turn-Based RPG</h2>
          <ul>
            <li>Project Manager of a collaborative coding effort based heavily around OOP techniques, written in C#
              and utilizing the Unity game engine.</li>
            <p></p>
            <li>Developed schedules and encouraged daily meetups in order to track progress and keep the team
              on pace to meet intense production deadlines.</li>
            <p></p>
            <li> Helped other developers achieve their goals by aiding them with their code implementations and
              helping to debug code.</li>
          </ul>
        </div> 
          <div id = 'questions'>
            <h2 class = "click-tech">Why did I choose this technology?  </h2>
            <p class = "dropdown-tech hide">Lorem</p>
            <h2  class = "click-challenge">What challenges did I face?</h2> 
            <p class = "dropdown-challenge hide">Lorem</p> 
            <h2 class = "click-different">What would I have done differently?</h2> 
            <p class = "dropdown-different hide">Lorem</p> 
            <h2 class = "click-learn">What did I learn?</h2> 
            <p class = "dropdown-learn hide">Lorem</p> 
            <h2 class = "click-plans">Plans for the future of this project?</h2> 
            <p class = "dropdown-plans hide">Lorem</p> 
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->


  </main><!-- End #main -->

{% endblock %}
