{% extends "template.html" %}

{% set page ='portfolio' %}

{% block meta %}
  <title>Project Details - Fair-EST</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
{% endblock %}

{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">

      <div class="container">
    
        <div class="d-flex justify-content-between align-items-center">
          <h2>Project Details</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Let's Connect</li>
          </ol>
        </div>
        
      </div>
      
    </section><!-- End Breadcrumbs -->
    
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      
      <div class="container">
        
        <div class="portfolio-details-container">
          <!-- <h3 class = 'visit' ><a target ='_blank' href='http://www.pets-connect.com'>www.pets-connect.com</a></h3> -->

          <!-- Image Carousel -->
          <div class="owl-carousel portfolio-details-carousel">
            <img src="assets/img/projects/pets_connect/pets_02.jpg" class="img-fluid" alt="">
            <img src="assets/img/projects/pets_connect/pets_03.jpg" class="img-fluid" alt="">
            <img src="assets/img/projects/pets_connect/pets_04.jpg" class="img-fluid" alt="">
            <img src="assets/img/projects/pets_connect/pets_05.jpg" class="img-fluid" alt="">
            <img src="assets/img/projects/pets_connect/pets_06.jpg" class="img-fluid" alt="">
          </div>

          <div class="portfolio-info">

            <h3>Project information</h3>
            <ul>
              <li><strong>Name</strong>: Pets Connect</li>
              <li><strong>Category</strong>: Full Stack Development</li>
              <li><strong>Tech</strong>: Python | Django ORM  | SQLite </li>
              <li><a href = "https://github.com/KISMET-INC/pets_connect" target = "_blank"><b>+ View on GitHub</b></a></li>
            </ul>

          </div>

        </div>

        <div class="portfolio-description">
          <h2>An INSTAGRAM-for-Pets. A social media web application that focuses on loving, sharing, commenting, and connecting to people through pictures of their pets.</h2>
  
          <ul>
            <li>Used the <b>Django</b> templating engine to make front-end queries to the SQL database creating a customized user experience depending on user specific requests.</li>
            <li>Engineered a custom model.manager written in <b>Python</b>  to handle form input validations for added <b>SQL</b> database stabiliy and protecting the integrity of the data added.</li>
            <li>Generated session keys for logged in users which <b>increased site security</b> by rejecting unauthorized access to member data and protecting user and site data from potentially malicious attacks.  </li>
            <li>Incorporated <b>one-to-many relationships</b> between the user, the messages, and the comments by linking back-end models via foreign keys therefore <b>keeping the relational data current, DRY and efficient</b>.</li>
            <li>Implemented an <b>administrator login</b> with the ability to manage other user accounts by creating, deleting, and updating data so the host can  <b>keep the database clean and clear of stale, incorrect, or faulty data</b>.</li>
          </ul>     
  
        </div>

        <div id = 'questions'>
          <h2 class = "click-plans">Plans for the future of this project?</h2> 
          <p class>This project will soon be revamped into a social media web application similar to instagram, where users can upload pictures of their pets and like pictures of other pets adding a many-to-many relationship to the project.</p> 
          <p class>On the dashboard, instead of names they will be pet pictures and when selected the current user has the ability to add a short comment to the picture </p> 
      </div>

    </div>

  </section><!-- End Portfolio Details Section -->
  
</main><!-- End #main -->

{% endblock %}
